body{
    place-items : center;
    display : grid;
    background-color: rgba(255, 221, 0, 0.625);
}
.card{
    margin-top: 300px;
    margin-bottom: 300px;
    max-width: 340px;
    background-color: white;
    padding: 1.5em;
    border: black double 2px;
    border-radius: 20px;
}
p img{
    width: 25px;
    height: 25px;
}
p{
    display: flex;
}
a{
    margin: 0.2em;
    margin-left: 1em;
}
#design{
    border-radius: 20px;
}
h4{
    font-size: 1.2em;
    background-color: rgba(255, 221, 0, 0.625); 
    max-width: 100px;
    text-align: center;
    border-radius: 5px;
    height:25px;
}
.content{
    color: gray;
}